<div class="rules_page">
	<div class="rules">
		<a class="tab selected" href="//arago.games/game_rules">
		<center>
			<i class="fas fa-gamepad"></i><br>
			<span>Правила Игры</span>
		</center></a> <a class="tab" href="//arago.games/user_rules">
		<center>
			<i class="fas fa-user"></i><br>
			<span>Пользовательское соглашение</span>
		</center></a> <a class="tab" href="//arago.games/forum_rules">
		<center>
			<i class="fas fa-comments"></i><br>
			<span>Правила форума</span>
		</center></a>
	</div>
	<div class="full_news_content">
		<div class="news_text" style="padding: 0px 34px 0 34px;">
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('zero')"><h3 style="margin-top:20px;">0. Общее положение:</h3></a><br>
			</div>
			<div id="zero">
			<div class="rules_block">
				<h3>0.1</h3>
				<div class="rules_text">
					<p>Пользователь обязан соблюдать все правила и ограничения, установленные настоящими Правилами, Пользовательским Соглашением, правилами поведения на форумах Проекта, сайтах и сопутствующих сервисах.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.2</h3>
				<div class="rules_text">
					<p>Пользователь обязан уважать право других Пользователей на участие в игре и не может своими действиями создавать ситуации, при которых права других Пользователей в игре могут быть нарушены и / или ограничены.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.3</h3>
				<div class="rules_text">
					<p>Пользователям запрещено производить оплату как средствами, ликвидность которых имеет временное ограничение, так и способами, при совершении которых будет невозможно подтверждение легальности совершенной транзакции. Платежи, по которым Пользователь не может предоставить подтверждение правомерности владения платежным средством и обеспеченности их действительными средствами, могут явиться основанием для ограничения функционала или доступа к учетной записи Пользователя (игровому аккаунту).</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.4</h3>
				<div class="rules_text">
					<p>Пользователям запрещено совершать любые действия (в том числе, указанные в п. 0.4 Правил Игры), затрудняющие или делающие невозможным доступ к Игре другим Пользователям или выполнение Проектом своих обязанностей. Запрещено создание в Игре для других Пользователей помех, не предусмотренных имеющимся игровым процессом.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.5</h3>
				<div class="rules_text">
					<p>Пользователям запрещена декомпиляция, расшифровка, инженерный анализ данных, обход систем обеспечения безопасности данных, взлом/попытка взлома программных компонентов Игры или ее сервисов и/или перехват данных, поступающих к серверу или от сервера. Запрещено любое модифицирование, изменение, декомпиляция, расшифровывание, продажа, распространение модифицированных материалов Игры целиком либо по частям (или средств и материалов для совершения указанных действий), использование программных ошибок, изменения программного кода, получение несанкционированного доступа к серверу и базе данных Игры. В отдельных случаях Проект имеет право немедленно приостановить доступ Пользователя к Игре и обратиться в органы внутренних дел для рассмотрения действий нарушителя на наличие состава преступлений, предусмотренных Уголовным Кодексом Российской Федерации или иными аналогичными законами стран-мест проживания Пользователя.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.6</h3>
				<div class="rules_text">
					<p>Пользователям запрещено фальсифицировать, удалять или отключать любую информацию об авторском праве, в частности - ссылки на автора, юридические подтверждения авторских прав и иные подобные сообщения или предписания, а также отметки о происхождении или источнике программного обеспечения или другого контента.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.7</h3>
				<div class="rules_text">
					<p>Пользователь должен соблюдать законы РФ и законы той страны, резидентом или гражданином которой он является. Пользователь самостоятельно несет ответственность за несоблюдение им таких норм.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.8</h3>
				<div class="rules_text">
					<p>Пользователям запрещено приводить аргумент «соответствие роли»/«отыгрыш роли» в защиту неправомерных действий любого рода.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.9</h3>
				<div class="rules_text">
					<p>Поддержка Пользователей располагается на ресурсах Проекта по адресу: <a href="//vk.me/arago_games" rel="nofollow" target="_blank">https://vk.me/arago_games</a>.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.10</h3>
				<div class="rules_text">
					<p>В целях усовершенствования системы выявления и устранения сбоев и ошибок в работе Игры Пользователь разрешает и Проект вправе автоматически собирать, хранить, обрабатывать, передавать третьим лицам для достижения поставленных целей следующие данные: (а) сведения о программном обеспечении, установленном на персональном компьютере Пользователя, в том числе операционной системе, драйверах, dxdiag; (б) снимки экрана во время игрового процесса Пользователя в Игре, (в) информацию о компьютере Пользователя, его базовых характеристиках и параметрах и (г) список dll, подключенных к процессу функционирования Игры на персональном компьютере Пользователя, их версии и контрольные суммы; (д) уникальные идентификаторы системы. Вся собираемая таким образом Проектом информация является полностью обезличенной.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.11</h3>
				<div class="rules_text">
					<p>Все внутриигровые предметы и ценности являются собственностью ARAGO. Игрок пользуется всем предоставленным и наслаждается игрой.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.12</h3>
				<div class="rules_text">
					<p>При нарушенной работоспособности сервера или такой угрозе, Администрация проекта имеет полное право применять любые меры воздействия для её устранения, включая случаи, которые правилами проект не предусмотрены. При угрозе нарушения или несоблюдения правил администрация вправе предпринять любые меры воздействия.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>0.13</h3>
				<div class="rules_text">
					<p>В случае полного признания Пользователем вины и согласия дальнейшего тщательного соблюдения настоящих Правил Игры и Пользовательского Соглашения, Проект, в качестве альтернативной санкции, имеет право назначить штраф с возможностью выплаты через ограниченный список каналов оплаты для досрочного снятия ограничений доступа к учетной записи (игровому аккаунту) или ее функционала, при этом Проект имеет право отказать в замене санкции на альтернативную без объяснения причин. В случае предложения Пользователю возможности альтернативной санкции, ее принятие является добровольным со стороны Пользователя. Подавать заявку на досрочное снятие ограничений с учетной записи с согласием на выполнение указанных Проектом условий следует в Поддержку.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">ПОМНИТЕ!</h3><br>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Принимая участие в общении любого рода (чат, голосовая связь), вы несете ответственность за свое поведение. Воздержитесь от использования лексики, которая может оскорбить других или противоречит общепринятым нормам поведения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Разжигание ненависти и дискриминация неприемлемы, как и любая обсценная и ненормативная лексика. Угрозы или оскорбления недопустимы ни при каких условиях вне зависимости от использованной лексики. Нарушение любого из этих правил приведет к ограничительным мерам в отношении вашего аккаунта. Более серьезные или повторяющиеся нарушения приведут к более серьезным мерам.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Вы несете ответственность за репутацию, сложившуюся о вас и вашем игровом аккаунте. Мошенничество в любом его проявлении приведет к незамедлительным мерам по отношению к игровому аккаунту. Использование сторонних программ для автоматизации любого аспекта Игры, злоупотребление ошибками Игры или участие в действиях, предоставляющих нечестное преимущество, считаются мошенничеством.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Если вы сомневаетесь, нарушают ли ваши действия данные правила, пересмотрите их. Мы оставляем за собой право ограничить доступ к учетным записям, нарушающим правила, на любое время, необходимое для того, чтобы игровой процесс на наших серверах оставался веселым и безопасным для всех игроков.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Выбор имени пользователя также подчиняется правилам, указанным ниже. Любое имя должно соответствовать правилам и не быть оскорбительным. Если имя аккаунта будет нарушать наши правила и подрывать атмосферу игрового сообщества, к Аккаунту пользователя могут быть применены ограничительные меры по нашему усмотрению.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Обман других игроков также является серьезным нарушением. Мошенничество, совместное использование игровых аккаунтов, а также любые действия, которые могут негативно повлиять на игровой опыт других игроков, приведут к суровому наказанию.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Поведение, умышленно портящее игровой опыт других игроков (например, вредительство, и т.п.), считается неприемлемым. Мы рассчитываем, что игроки будут относиться друг у другу с уважением и способствовать созданию положительной атмосферы. Приемлемость поведения определяется исходя из жалоб игроков и по решению команды ARAGO. Нарушение этих правил приведет к ограничениям для учетной записи и в игре.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Однако несмотря на то что мы призываем сообщать о неподобающем поведении со стороны других игроков, ложные жалобы, единственной целью которых является ограничение игровых возможностей для других, также неприемлемы, и могут стать причиной принятия мер к вашему аккаунту.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Обратите внимание, что приемлемые имена определяются как по сообщениям о нарушении от пользователей, так и решением ARAGO.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p>Команда ARAGO поощряет как сотрудничество, так и состязание между игроками, пока эти взаимодействия не выходят за черту дозволенного. Если вы встретили игрока, нарушающего указанные ниже правила, вам следует сообщить о нем.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('first')"><h3 style="margin-top:20px;">1. Игровой аккаунт</h3></a><br>
			</div>
			<div id="first">
			<div class="rules_block">
				<h3>1.1</h3>
				<div class="rules_text">
					<p>Всем Пользователям в Игре запрещено осуществлять следующие действия со своими игровыми аккаунтами:</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунтов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>1.2</h3>
				<div class="rules_text">
					<p>Пользователям запрещено использование бонусных, обеспеченных исключительно в рамках выставленных условий организатором, а также кредитных форм оплаты без своевременной компенсации/возврата кредитной части, как и/или любая другая деятельность, целью которой является сокрытие факта использования или получение выгоды без своевременной компенсации/возврата проведенных оплат, а также любая попытка совершения указанных действий или использование предметов и игровых ценностей, полученных другими Пользователями в результате нарушения Правил Игры и Пользовательского Соглашения.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>1.3</h3>
				<div class="rules_text">
					<p>Пользователям запрещено создание имен персонажей, названий предметов, внутриигровых объектов, сообществ и организаций игроков и любых других знаков отличия, указывающих на принадлежность к Проекту или его партнерам, а также представление себя перед другими Пользователям как действующего или бывшего сотрудника Проекта или его партнера.
<br><br>
Также запрещено регистрировать следующие никнеймы:<br>
• носящие сексуальный или аморальный характер;<br>
• содержащие явную отсылку к модерации / администрации проекта;<br>
• содержащие оскорбления / обсценную лексику;<br>
• пропагандирующие нацисткие идеи;<br>
• нарушающие общепринятые правила и нормы;<br>
• содержащие постороннюю рекламу.<br>
</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>1.4</h3>
				<div class="rules_text">
					<p>Запрещается устанавливать скины/плащи которые содержат:<br>
• носящие сексуальный или аморальный характер;<br>
• содержащие оскорбления / обсценную лексику;<br>
• пропагандирующие нацисткие идеи;<br>
• нарушающие общепринятые правила и нормы;<br>
• содержащие постороннюю рекламу.<br>
• фотографии других игроков (без их разрешения).</p><span></span>
					<div class="rules_punish">
						<b>Наказание: 24 часа на смену скина, затем перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>				
			<div class="rules_block">
				<h3>1.5</h3>
				<div class="rules_text">
					<p>Запрещена регистрация мультиаккаунта с целью обхода блокировки, мошенничества, либо использования любых преимуществ новых пользователей.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунтов.</b>
					</div>
				</div>
			</div>		
			<div class="rules_block">
				<h3>1.6</h3>
				<div class="rules_text">
					<p>Пользователь несёт ответственность за обеспечение конфиденциальности Регистрационной информации, а также за любое использование Регистрационной информации и Учетной записи. В случае если Пользователю стало известно или он обоснованно подозревает нарушение безопасности, включая, помимо прочего, потери, кражу или неавторизованное разглашение Регистрационной информации, Пользователь должен незамедлительно сообщить об этом администрации ARAGO по адресу: <a href="//vk.me/arago_games" rel="nofollow" target="_blank">vk.me/arago_games</a><br>
					<br>
					Пользователь обязан обеспечивать полную безопасность своего аккаунта. Администрация проекта оставляет за собой право отказать в восстановлении доступа к аккаунту в случае его взлома. Ущерб, нанесенный при взломе не возмещается.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('second')"><h3 style="margin-top:20px;">2. Общение</h3></a><br>
			</div>
			<div id="second">
			<div class="rules_block">
				<h3>2.1</h3>
				<div class="rules_text">
					<p>Пользователям запрещается использовать, а также распространять информацию, призывать к использованию или публично пропагандировать любые ошибки, как внутриигровые, так и ошибки любого сопутствующего программного обеспечения. Пользователь, обнаруживший такие ошибки Игры, обязан прекратить их использование и сообщить об этом Проекту в течение следующих 24 часов после момента обнаружения написав письмо на электронную почту <a href="mailto:team@arago.games">team@arago.games</a> либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a>, подробно и достоверно изложив все обстоятельства их обнаружения и использования. В случае возникновения у Пользователя сомнений, является ли функционирование какого-либо конкретного внутриигрового процесса или объекта в данный момент расчетным, либо же в его работе существуют аномалии, отклонения, ошибки, Пользователь обязан приостановить использование такого процесса или объекта и написать письмо на электронную почту <a href="mailto:team@arago.games">team@arago.games</a> либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a> для получения соответствующих разъяснений.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.2</h3>
				<div class="rules_text">
					<p>Пользователям запрещено обсуждений действий, распространение слухов, клеветы, порочащей информации о Проекте, других Пользователях, игровых сервисах, игровых акциях, игровых мероприятиях, партнерах Проекта, Игре в целом.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.3</h3>
				<div class="rules_text">
					<p>Пользователям запрещено осуществлять и организовывать спам (информационные рассылки и объявления, не связанные с игровым процессом), флуд (многократное повторение, воспроизведение, копирование и т.д. информации) в любых видах информационных сервисов Игры (чаты, приватные сообщения, внутриигровые письма и т.п.), а также использовать Игру и/или игровые сервисы для организации незаконной или не связанной с Игрой деятельности.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 15 минут до 30 минут.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.4</h3>
				<div class="rules_text">
					<p>Пользователям запрещено использовать любые информационные сервисы Игры для распространения информации о политических партиях, системах, общественных и религиозных организациях и движениях, а также о совершаемых ими акциях, действиях, шествиях и т.п., призывать к участию в них либо переносить подобные активности в том или ином виде в Игру как заведомо провоцирующие спор и конфликт между другими Пользователями.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 15 минут до 1 часа.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.5</h3>
				<div class="rules_text">
					<p>Пользователям запрещено в любом виде осуществлять любые рекламные объявления, включая воспроизведение в Игре любых ссылок на страницы сети Интернет без предварительного согласования с Проектом.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 1 часов до 3 часов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.6</h3>
				<div class="rules_text">
					<p>Запрещено заведомо ложное сообщение, или угроза такого сообщения, влекущая принятие определенных мер администрацией проекта.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 10 минут до 3 часов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.7</h3>
				<div class="rules_text">
					<p>Разжигание ненависти и дискриминация неприемлемы, как и любая обсценная и ненормативная лексика. Угрозы или оскорбления недопустимы ни при каких условиях вне зависимости от использованной лексики. В случае множественности трактовок конкретных фраз или слов, во избежание возникновения спорных ситуаций необходимо предварительно обратиться на электронную почту <a href="mailto:team@arago.games">team@arago.games</a> либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a> для получения официального ответа о допустимости их использования.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 15 минут до 1 часа.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.8</h3>
				<div class="rules_text">
					<p>Пользователям запрещено публично объявлять об уходе из Игры, а также отправлять сообщения, которые способны повлечь негативные последствия для игрового процесса; провокация Пользователей на нарушение Правил Игры.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 до 2 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.9</h3>
				<div class="rules_text">
					<p>Запрещено представляться администрацией / модерацией сервера, также пускать любые ложные сведения о сервере / проекте и его администрации / модерации. Будь то обновление/изменение или слух о вайпе мира/подмира.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 7 до 14 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.10</h3>
				<div class="rules_text">
					<p>Любые сообщения по теме торговли и рекламу следует отправлять в торговый чат. Рекламировать варп разрешается только его владельцам, которые указаны на /warp list. Реклама чужого варпа повлечет за собой наказание по данному пункту.Любые сообщения не по теме торговли писать запрещается.<br><br>Исключения: реклама варпов сервера, краткий ответ на торговое сообщение (Продам/куплю).</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 10 минут до 20 минут.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.11</h3>
				<div class="rules_text">
					<p>Пользователям запрещено публиковать информацию (ссылки, теги микроблогов, описание методов, и т.п.) или загружать файлы, которые содержат вредоносное программное обеспечение (вирусы, трояны и т.п.), поврежденные или модифицированные файлы или данные, прочее подобное программное обеспечение, которое может повредить Игре, нарушить работу чужих компьютеров и средств связи или неприкосновенность учетных записей (игровых аккаунтов) Пользователей </p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.12</h3>
				<div class="rules_text">
					<p>Пользователям запрещено распространение, использование или намеренное получение информации, позволяющей получить доступ к учетным записям (игровым аккаунтам) Пользователей в Игре, на Интернет сайте Проекта, на форумах Проекта, на сопутствующих Игре сервисах, а также распространение ссылок на сторонние ресурсы, содержащих такую информацию. В случае получения такой информации запрещено осуществлять вход на игровой аккаунт, зарегистрированный другим Пользователем.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.13</h3>
				<div class="rules_text">
					<p>Пользователям запрещено в случае обращения на электронную почту <a href="mailto:team@arago.games">team@arago.games</a>, в игровых каналах связи либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a> подавать заведомо ложную информацию, а также фальсифицировать предоставляемые данные.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.14</h3>
				<div class="rules_text">
					<p>Запрещено обсуждение и критика любых действий модерации или администрации проекта.
Все предложения, замечания и жалобы подаются на форум, неаргументированные жалобы будут сразу удалены, вся критика должна быть конструктивной. 
</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 до 5 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.15</h3>
				<div class="rules_text">
					<p>Запрещается упоминание наркотических средств, алкоголя, нацистских идей, суицида, употребление уголовного (тюремного) жаргона.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 1 часа до 3 часов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.16</h3>
				<div class="rules_text">
					<p>Запрещён флуд командами/смайликами/стикерами.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 5 минут до 15 минут.</b>
					</div>
				</div>
			</div>  
			<div class="rules_block">
				<h3>2.17</h3>
				<div class="rules_text">
					<p>Запрещено писать в чат сообщения, содержащие большое количество одинаковых символов. </p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка чата от 5 минут до 15 минут.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.18</h3>
				<div class="rules_text">
					<p>Общение в чате допускается на любом языке. Однако модерация проекта может игнорировать вопросы или обращения в свой адрес, написанные не на русском языке.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.19</h3>
				<div class="rules_text">
					<p>Администрация сервера не обязана отвечать на вопросы касательно механики Игры. Кроме случаев ,когда механика не была изменена или по ней нет достаточной информации.Некоторая информация не разглашается намеренно, дабы не терять интересы Игры.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.20</h3>
				<div class="rules_text">
					<p>Пользователю запрещается игнорировать администрацию. При обращении администрации к пользователю, пользователь обязан ответить в установленный представителем администрации срок.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>	
			</div>
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('three')"><h3 style="margin-top:20px;">3. Игровой процесс</h3></a><br>
			</div>
			<div id="three">
			<div class="rules_block">
				<h3>3.1</h3>
				<div class="rules_text">
					<p>Всем Пользователям в Игре запрещено осуществлять или поощрять следующие действия с любым Внутриигровым предметом, являющимся внутриигровой ценностью, включая, внутриигровую валюту: продажа вне Игры и/или за внеигровые ценности, включая наличные деньги, и иные способы оплаты в Игре; покупка за внеигровые ценности, включая наличные деньги и иные способы оплаты в Игре; обмен на внеигровые ценности, предметы, услуги, обязательства; распространение информации о намерении Пользователя совершить указанные действия, как самим Пользователем, так и любыми третьими лицами.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунтов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2</h3>
				<div class="rules_text">
					<p>Пользователям запрещается создавать и/или использовать в Игре ботов (сторонняя программа, которая позволяет в автоматическом режиме управлять Игрой), иных программ, технических и/или иных средств, способных вносить изменения в игровой процесс, или для эмуляции действий Пользователя в Игре.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.3</h3>
				<div class="rules_text">
					<p>Пользователям запрещено находиться в составе, принимать участие в формировании или иным образом поддерживать любые сообщества и организации игроков, чья идеология подразумевает неприятие по религиозным, национальным, половым признакам (либо имеет сходство с идеологией подобной направленности), ссылается на националистическую, расистскую или сексистскую философии. Проект оставляет за собой право давать собственную конечную лингвистическую оценку соответствия любых фраз и слов данному пункту правил. В случае множественности трактовок конкретных фраз или слов, во избежание возникновения спорных ситуаций необходимо предварительно обратиться на электронную почту <a href="mailto:team@arago.games">team@arago.games</a> либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a> для получения официального ответа о допустимости их использования.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 3 до 15 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.4</h3>
				<div class="rules_text">
					<p>Запрещено убийство или нанесение вреда игрокам находящимся в No-PvP зоне любыми способами (в том числе с использованием багов). Под No-PvP зоной понимается регион, в котором установлен флаг pvp: deny (группа: all - запрещает pvp всем). Запрещается убивать игроков во время торговли, звать или заманивать к себе, с целью убийства или нанесения каких-либо повреждений. Торговлю рекомендуется осуществляйте на территории спауна. Перед телепортацией к незнакомым игрокам оставляйте все ценные ресурсы в доме. Убийство допустимо, если игрок, не являющийся владельцем или участником данного региона, отказывается покинуть территорию после просьбы хозяина.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 до 3 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.5</h3>
				<div class="rules_text">
					<p>Категорически запрещено проведение раздач всеми возможными способами. В том числе путём уничтожения любого объекта, будь то блок или устройство. Под раздачей понимается, безвозмездная передача имущества.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: перманентная блокировка аккаунтов.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.6</h3>
				<div class="rules_text">
					<p>Запрещено подстрекательство, провокационные и иные действия непосредственно подталкивающие на нарушение или несоблюдение правил. </p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 7 до 31 дня.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.7</h3>
				<div class="rules_text">
					<p>Запрещается устанавливать публичные варпы и точки домов в опасных для игроков местах. Звать и заманивать пользователей в опасные места, где игрок может получит вред от воздействия мира, игроков или возведённых игроками сооружений и устройств. Публичные точки warp'ов могут устанавливаться только в приватных регионах, в противном случае точка должна быть запривачена или удалена. Если точка находится в регионе со включённым бессмертием, она считается безопасной.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 3 до 5 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.8</h3>
				<div class="rules_text">
					<p>Запрещён абуз (злоупотребление) глобальных способностей которые влияют на погоду, время суток или каким-либо способом воздействуют на сервер. Также запрещено использование таких способностей для извлечение собственной выгоды, путём манипулирования другими игроками.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 часа до 3 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.9</h3>
				<div class="rules_text">
					<p>Запрещены любые виды обмана / мошенничества / умышленное нанесение вреда имуществу других игроков с целью получения выгоды или морального удовлетворения. В случае обмана во время обмена без участия модератора, нарушитель понесет наказание при представлении доказательств его вины, но украденные ресурсы администрация / модерация проекта возвращать не обязана.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 3 до 7 дней.</b>
					</div>
				</div>
			</div>        
			<div class="rules_block">
				<h3>3.10</h3>
				<div class="rules_text">
					<p>Если хозяин региона попросил Вас покинуть территорию - Вы обязаны это сделать. Исключение: это Ваш дом, дом Вашего друга, владелец региона разрешает Вам оставаться в нем. Нe распространяется на модераторов и вышестоящую администрацию.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: первый раз - предупреждение, второй раз - телепортация на спавн, третий раз - блокировка аккаунта на 1 день.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.11</h3>
				<div class="rules_text">
					<p>Запрещено дестабилизировать работу сервера, создавать лагозоны. которых повлечет за собой принятие мер со стороны модерации / администрации сервера в виде предупреждения и установки срока в 24 часа для исправления ситуации. По истечении данного срока старший модератор / администратор имеют право удалить механизмы.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.12</h3>
				<div class="rules_text">
					<p>Игрок который оказался свидетелем или пособником общественно вредного деяния, обязан сообщить об этом администрации. Если же игрок не сообщил об этом администрации, то он наказывается той же санкцией как и нарушитель.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			</div>			
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('build')"><h3 style="margin-top:20px;">4. Игровые постройки:</h3></a><br>
			</div>
			<div id="build">
			<div class="rules_block">
				<h3>4.1</h3>
				<div class="rules_text">
					<p>Пользователям запрещено создавать сооружения которые образуют большую нагрузку на серверное оборудование либо клиент пользователя (средней производительности). В случае возникновения у Пользователя сомнений, создаёт ли данное сооружение нагрузку на серверное оборудование, пользователь обязан приостановить его использование и уведомить администрацию путём обращения на электронную почту <a href="mailto:team@arago.games">team@arago.games</a> либо другими способами на сайте Проекта в разделе Контакты: <a href="//arago.games/contacts" rel="nofollow" target="_blank">www.arago.games/contacts</a> для получения соответствующих разъяснений.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: снос сооружения + блокировка аккаунта на 1 день.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.2</h3>
				<div class="rules_text">
					<p>Название и нахождение точки варпа должно соответствовать его тематике и предназначению. То есть, если название варпа “shop” - в нём должен находиться магазин. </p><span></span>
					<div class="rules_punish">
						<b>Наказание: удаление точки варпа.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.3</h3>
				<div class="rules_text">
					<p>Запрещено строительство половых органов, сооружений относящихся к нацистской символике. Также запрещается возводить сооружения, устанавливать таблички и их аналоги носящие обсценную лексику / оскорбления в адрес игроков, администрации.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: снос постройки + блокировка аккаунта от 1 до 3 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.4</h3>
				<div class="rules_text">
					<p>Запрещается обсценная лексика, оскорбления в названии приватов, варпов.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: предупреждение, затем удаление привата / точки варпа.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.5</h3>
				<div class="rules_text">
					<p>Запрещено намеренно блокировать доступ к чужим постройкам посредством стен / рвов / жидкостей / ловушек, сбрасывания сыпучих блоков, ограждений из приватов.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 до 3 дней.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.6</h3>
				<div class="rules_text">
					<p>Пользователям запрещено перегружать чанк сущностями (мобы, вагонетки, рамки и всё, что не является блоками). Ограничение количества сущностей на чанк - это механизм контроля их плотности. Разрешенное количество сущностей на чанк = 35.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.7</h3>
				<div class="rules_text">
					<p>В случае, когда участник региона (member) совершил серьёзное, вредное деяние, в следствии которого был нанесён существенный вред имуществу или постройке владельца территории (owner'u), то владелец имеет право обратиться к администрации и уличить нарушителя с приложенными доказательствами для его наказания. Вещи, механизмы, здания, сооружения, и иное имущество которому был нанесён вред в процессе вредного деяния ,или были утеряны в этом же процессе, восстановлению подлежат только по решению администрации. 

Владелец региона несет полную ответственность за свою территорию и находящееся в ней имущество. 
</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('money')"><h3 style="margin-top:20px;">5. Экономика:</h3></a><br>
			</div>
			<div id="money">
			<div class="rules_block">
				<h3>5.1</h3>
				<div class="rules_text">
					<p>Пользователям сервера запрещено устанавливать цену ниже 1/3 от максимальной цены внутриигрового магазина администрации. Округлять цену следует в большую сторону. Пример: 2.01 = 3. Примечание. Минимальная цена на игровые предметы во внутриигровом магазине не может быть ниже два серебра.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта от 1 до 3 дней + блокировка магазина.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.2</h3>
				<div class="rules_text">
					<p>Обмен между игроками должен быть равноценным.</p><span></span>
					<div class="rules_punish">
						<b>Наказание: блокировка аккаунта.</b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.3</h3>
				<div class="rules_text">
					<p>Если же выставляемый товар отсутствует в админшопе, игрок обязан согласовать цену данного товара с администрацией.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<a href="javascript:ShowOrHide('zz')"><h3 style="margin-top:20px;">6. Права проекта:</h3></a><br>
			</div>
			<div id="zz">
			<div class="rules_block">
				<h3>6.1</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за все, что скажет Пользователь (устно или письменно), находясь в Игре, в чат-комнатах Игры, на Интернет сайте Проекта, Ресурсах или форумах Проекта, а также за любые последствия высказываний Пользователя.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.2</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за высказывания Пользователя, опубликованные на Ресурсах Проекта. Проект не несет ответственности за поведение Пользователя на Ресурсах Проекта, включая поведение, характер и идеологию игрового аккаунта Пользователя, поступки игровых персонажей в Игре, неуважительное отношение к другим Пользователям Игры.Проект не несет ответственности за такие действия других участников Игры.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.3</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за утерю Пользователем возможности доступа к своему игровому Аккаунту — учетной записи Пользователя в Игре (утрату логина, пароля, иной информации, необходимой для участия Пользователя в Игре).</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.4</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за неполное, неточное, некорректное указание Пользователем своих данных при создании учетной записи Пользователя в Игре.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.5</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за утрату Пользователем в ходе игрового процесса игровых ценностей, полученных в результате участия в Игре.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.6</h3>
				<div class="rules_text">
					<p>Проект не осуществляет обмен на наличные или безналичные деньги или ценности и/или возврат игровых ценностей, полученных Пользователем в ходе игрового процесса.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.7</h3>
				<div class="rules_text">
					<p>Проект не производит обмена одних игровых ценностей, полученных Пользователем в ходе участия в Игре, на другие игровые ценности.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.8</h3>
				<div class="rules_text">
					<p>Проект, помимо указанных нарушений в настоящих Правилах, самостоятельно решает, что считается нарушением настоящих Правил Игры.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.9</h3>
				<div class="rules_text">
					<p>В случае нарушения Правил Игры Пользователем Проект имеет право применить следующие действия: • ограничить использование внутриигровых сервисов общения; • ограничить часть внутриигрового функционала Аккаунта; • ограничить доступ к любым элементам внутриигрового контента; • принудительно переименовать персонажа, сообщества или организации игроков, внутриигровые предметы; • изъять предметы, внутриигровую валюту, иные внутриигровые ценности; • ограничить, приостановить или полностью прекратить доступ к учетной записи (игровому аккаунту); • изменить значения достижений и параметров развития аккаунта; • удалить учетную запись.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.10</h3>
				<div class="rules_text">
					<p>Мера наказания применяется по усмотрению администрации.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.11</h3>
				<div class="rules_text">
					<p>Правила проекта могут изменяться и дополняться в любой момент, независимо от воли пользователей.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.12</h3>
				<div class="rules_text">
					<p>ARAGO предоставляет различные опции общения между игроками. Поскольку такие средства коммуникации не являются — с юридической точки зрения — услугами электронной связи, то сообщения, отправленные таким образом, не считаются частными или конфиденциальными. Чтобы создать приятную атмосферу, а также обеспечить всем игрокам безопасность и законность в общении, мы применяем правила обязательного сохранения и просмотра как исходящих, так и входящих сообщений в игровых чатах, а также прочих сообщений.<br>
					Проект ARAGO имеет право: сохранять сообщения игрового чата и прочие сообщения, которые вы получаете или отправляете при помощи лаунчера , и проверять такие сообщения игрового чата и прочие сообщения на предмет потенциальных нарушений законодательства, правил проекта, или условий пользовательского соглашения, которые применяются к Проекту. ARAGO обязуется использовать информацию, полученную из сообщений игрового чата и прочих сообщений, исключительно для выявления нарушений и принятия соответствующих мер в случае выявления таковых.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div></div><br>
			<br>
			<span style=" float: right;"><span class="masha_index masha_index114" rel="114"></span>Редакция от <b>11 сентября 2018</b> года</span><br>
			<br>
		</div>
	</div>
</div>