<div class="rules_page">
	<div class="rules">
		<a class="tab" href="//arago.games/game_rules">
		<center>
			<i class="fas fa-gamepad"></i><br>
			<span>Правила игры</span>
		</center></a> <a class="tab selected" href="//arago.games/user_rules">
		<center>
			<i class="fas fa-user"></i><br>
			<span>Пользовательское соглашение</span>
		</center></a> <a class="tab" href="//arago.games/forum_rules">
		<center>
			<i class="fas fa-comments"></i><br>
			<span>Правила форума</span>
		</center></a>
	</div>
	<div class="full_news_content">
		<div class="news_text" style="padding: 0px 34px 0 34px;">
			<br>
			<br>
			<center>
				Настоящий документ «Пользовательское соглашение» регулирует отношения между «ARAGO»,<br>именуемое в дальнейшем «Проект» и Вами.
			</center><br>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">0. Термины:</h3><br>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Игра</b> - строительная игра «Minecraft» являющаяся программой для ЭВМ, представляющая собой совокупность данных, команд и порождаемых ею аудиовизуальных отображений (далее – данные и команды), активируемых последовательно для получения Пользователем определенного результата, без Пожертвований (активированные данные и команды) или после Пожертвований (неактивированные данные и команды). Права на использование данных и команд (активированных и неактивированных) передаются Проектом Пользователю на условиях, определенных настоящим Соглашением. Проект предоставляет тестовый бесплатный вариант «Minecraft» - права на игру принадлежат <a href="https://mojang.com" rel="nofollow" target="_blank">MOJANG AB</a>.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Пользователь</b> - физическое лицо, обладающее необходимой дееспособностью для заключения настоящего Соглашения, которому в соответствии с настоящим Соглашением предоставляется право на использование Игры в предусмотренных настоящим Соглашением пределах. Пользователь является Стороной настоящего Соглашения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Аккаунт Пользователя (аккаунт)</b> - учетная запись Пользователя, создаваемая в момент регистрации в Игре, позволяющая Пользователю учитывать каждого Пользователя и предоставлять возможность авторизоваться (получить доступ) посредством уникального логина и пароля.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Интернет сайт</b> - Интернет сайт, расположенный по адресу <a href="//arago.games" target="_blank"> www.arago.games</a>, предоставляющий Пользователю доступ к ресурсам Проекта, в том числе для использования пользователям Игры. Проект размещает информацию, обязательную для Пользователей, на Интернет сайте.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Игровые ресурсы (Ресурсы)</b> - все сервера, любое программное обеспечение и/или базы данных, имеющие отношение к Проекту, расположенные, в том числе, в домене <a href="//arago.games" target="_blank">www.arago.games</a> и его поддоменах.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Клиентская часть</b> - программное обеспечение, необходимое для участия Пользователя в Игре, подлежащее установке на ЭВМ Пользователя. Клиентская часть устанавливается Пользователем самостоятельно на персональном компьютере. Клиентская часть может распространяться Пользователем и/или уполномоченными им лицами, как посредством сети Интернет, так и на материальных носителях.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Пожертвования</b> - Пожертвования Проекту для получения прав использования неактивированных данных и команд в пределах, установленных настоящим Соглашением. Размер пожертвования определяется Проектом, и зависит от объема неактивированнных данных и команд, право использования которых передается Пользователю. Информация о Пожертвовании размещается Проектом в сети Интернет по адресу <a href="//arago.games/donate" target="_blank">www.arago.games/donate</a>.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Правила Игры (Правила)</b> - Приложения к Пользовательскому Соглашению, расположенные в сети Интернет по адресу <a href="//arago.games/game_rules" target="_blank">www.arago.games/game_rules</a> , регламентирующие правила использования Пользователем Игры, ограничения в действиях Пользователя в отношении Игры. Правила Игры могут быть изменены Проектом в любое время без предварительного уведомления Пользователя. О таких изменениях Проект уведомляет Пользователя путем размещения информации на Интернет сайте Игры. Продолжение Пользователем использования Игры после изменения Правил Игры признается его согласием с такими изменениями.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Правила Форума</b> - Приложения к Пользовательскому Соглашению, расположенные в сети Интернет по адресу <a href="https://arago.games/forum_rules" target="_blank">https://arago.games/forum_rules</a>, регламентирующие правила поведения Пользователя на официальном форуме, предназначенном для обсуждения Игры («Форум»), ограничения в действиях Пользователя на Форуме. Правила Форума могут быть изменены Проектом в любое время без предварительного уведомления Пользователя. О таких изменениях Проект уведомляет Пользователя путем размещения информации на Интернет сайте . Пользование Форумом любым способом после изменения Правил Форума признается его согласием с такими изменениями.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Пользовательское соглашение</b> - текст настоящего Соглашения, заключенного между Проектом и Пользователем, содержащий все необходимые и существенные условия пользовательского договора о предоставлении прав использования Игры как программы для ЭВМ. Приложением к настоящему Соглашению и его неотъемлемой частью являются Правила Игры, Правила Форума, ссылки на которые содержится в настоящем Соглашении.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3></h3>
				<div class="rules_text">
					<p><b style="font-weight: 600;color: #000000;">Права на неактивированные данные и команды</b> - права, получаемые Пользователем за пожертвования, позволяющие в Игре увеличить количество внутриигровых предметов. Внутриигровые предметы - внутриигровые ценности, включая внутриигровую валюту «Серебро».</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">1. Условия присоединения к настоящему Соглашению:</h3><br>
			</div>
			<div class="rules_block">
				<h3>1.0</h3>
				<div class="rules_text">
					<p>Перед тем, как использовать Игру, Пользователь обязан ознакомиться с настоящим Соглашением, а также со всеми применимыми к Игре Правилами и иными документами, которые размещены в свободном доступе на странице регистрации учетной записи (аккаунта) в сети Интернет по адресу: <a href="https://arago.games/index.php?do=register" target="_blank">https://arago.games/index.php?do=register</a></p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>1.1</h3>
				<div class="rules_text">
					<p>После заполнения обязательных полей и ознакомления с Соглашением Пользователь присоединяется (принимает) настоящее Соглашение путем нажатия кнопки «Зарегистрироваться» или аналогичной, что по смыслу ст.ст. 435 и 438 Гражданского кодекса РФ является принятием (акцептом) оферты Проекта, а равно заключением договора, порождающего у Пользователя обязанности соблюдать условия Соглашения, в том числе применимых к Игре Правил. Фактическое использование Игры также является акцептом настоящего Соглашения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>1.2</h3>
				<div class="rules_text">
					<p>Лицо, авторизовавшееся в Игре, считается надлежащим пользователем аккаунта, доступ к использованию и управлению которого были получены в результате регистрации аккаунта, если отсутствуют сведения, подтверждающие иное.</p>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<!-- Предмет соглашения -->
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">2. Предмет Соглашения:</h3><br>
			</div>
			<div class="rules_block">
				<h3>2.0</h3>
				<div class="rules_text">
					<p>По настоящему Соглашению и при условии соблюдения Пользователем его соответствующих условий Проект предоставляет Пользователю на условиях простой неисключительной лицензии права использования Игры в пределах, определенных настоящим Соглашением.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.1</h3>
				<div class="rules_text">
					<p>Пользователь получает право использования активированных и неактивированных данных и команд на условиях настоящего Соглашения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.2</h3>
				<div class="rules_text">
					<p>Обязательство Пользователя по предоставлению прав использования неактивированных данных и команд считается исполненным Пользователем в момент отражения им внутриигровых ценностей в виде «Золота» на лицевом счете Пользователя в личном кабинете на сайте Проекта. С этого момента Пользователь получает права использования объема неактивированных данных и команд, соответствующего количеству внутриигровых ценностей в виде «Серебра», на условиях данного Соглашения. С момента исполнения такого обязательства любые требования Пользователя в силу ст. 1062 Гражданского кодекса РФ не могут являться предметом судебной защиты.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.3</h3>
				<div class="rules_text">
					<p>Соответствие объема неактивированных данных и команд количеству внутриигровых ценностей в виде «Серебра» определяется Пользователем. Соответствие размера вознаграждения количеству внутриигровых ценностей в виде «Серебра» определяется Пользователем.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.4</h3>
				<div class="rules_text">
					<p>Пожертвование не является необходимым условием участия Пользователя в Игре и осуществляется по желанию Пользователя.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>2.5</h3>
				<div class="rules_text">
					<p>Голосование не является необходимым условием участия Пользователя в Игре и осуществляется по желанию Пользователя.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">3. Пределы использования Игры:</h3><br>
			</div>
			<div class="rules_block">
				<h3>3.1</h3>
				<div class="rules_text">
					<p>Пользователь вправе использовать Игру следующими способами:</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.1.1</h3>
				<div class="rules_text">
					<p>воспроизвести Клиентскую часть Игры путем ее установки на ЭВМ с целью участия в Игре;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.1.2</h3>
				<div class="rules_text">
					<p>использовать активированные данные и команды для достижения определенного результата;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.1.3</h3>
				<div class="rules_text">
					<p>активировать неактивированные данные и команды после Пожертвований Проекту и использовать их в том числе для получения возможности достичь определенного результата быстрее, чем при использовании права, указанного в п. 4.1.2;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.1.4</h3>
				<div class="rules_text">
					<p>вносить изменения в персональные настройки Игры, предусмотренные разработчиком Игры;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">3.2 Пользователь не вправе:</h3><br>
			</div>
			<div class="rules_block">
				<h3>3.2</h3>
				<div class="rules_text">
					<p>Пользователь вправе использовать Игру следующими способами:</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2.1</h3>
				<div class="rules_text">
					<p>модифицировать Клиентскую часть;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2.2</h3>
				<div class="rules_text">
					<p>распространять вне Игры в коммерческих целях аудиовизуальные отображения, присутствующие в Игре;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2.3</h3>
				<div class="rules_text">
					<p>распространять в коммерческих или некоммерческих целях, передавать третьим лицам право использования неактивированных данных и команд, предоставленных Пользователю за Вознаграждение, игровой аккаунт и иной объект, прямо не разрешенный условиями настоящего Соглашения, а также распространять информацию о намерениях совершить такие действия;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2.4</h3>
				<div class="rules_text">
					<p>передавать предоставленные Пользователю права использования Игры, как она определена в статье 1 настоящего Соглашения;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>3.2.5</h3>
				<div class="rules_text">
					<p>использовать Игру иными способами, не предусмотренными настоящим Соглашением, Правилами Игры и выходящими за рамки обычного игрового процесса;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">4. Обязанности Проекта:</h3><br>
			</div>
			<div class="rules_block">
				<h3>4.1</h3>
				<div class="rules_text">
					<p>Проект принимает на себя следующие обязательства:</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.1.1</h3>
				<div class="rules_text">
					<p>с учетом условий, изложенных в настоящем Соглашении, обеспечить возможность Пользователю использовать права на Игру;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.1.2</h3>
				<div class="rules_text">
					<p>уведомлять Пользователя путем опубликования информации на Интернет сайте об изменениях условий настоящего Соглашения;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.1.3</h3>
				<div class="rules_text">
					<p>предоставить Пользователю право безвозмездно использовать активированные данные и команды посредством сети Интернет с сайта Проекта, если настоящим Соглашением не предусмотрено иное;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>4.1.4</h3>
				<div class="rules_text">
					<p>предоставить Пользователю за Пожертвование право использования неактивированных данных и команд;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">5. Права Проекта:</h3><br>
			</div>
			<div class="rules_block">
				<h3>5.1</h3>
				<div class="rules_text">
					<p>Проект имеет следующие права:</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.1</h3>
				<div class="rules_text">
					<p>в любое время, в одностороннем порядке ограничить, расширить, изменить содержание Игры как программы для ЭВМ без предварительного уведомления Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.2</h3>
				<div class="rules_text">
					<p>приостанавливать либо изменять Игру как программу для ЭВМ, изменять условия их использования без предварительного уведомления Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.3</h3>
				<div class="rules_text">
					<p>в любое время изменить, удалить любую информацию, размещенную Пользователем на Ресурсах Проекта, включая высказывания, объявления Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.4</h3>
				<div class="rules_text">
					<p>в любое время приостановить, ограничить и/или прекратить действие настоящего Пользовательского соглашения в одностороннем порядке в отношении Игры как программы для ЭВМ для любого или всех Пользователей, в том числе при несоблюдении Пользователем условий настоящего Соглашения или Правил Игры;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.5</h3>
				<div class="rules_text">
					<p>в целях сбора статистических данных и идентификации Пользователя устанавливать и сохранять информацию об IP-адресах Пользователя, использовать файлы технической информации (cookies), размещаемые на персональном компьютере Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.6</h3>
				<div class="rules_text">
					<p>рассылать Пользователя сообщения информационного или технического характера, связанного с Игрой;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.7</h3>
				<div class="rules_text">
					<p>во время использования Пользователями Игры, предупреждать, уведомлять, информировать о несоблюдении Пользователями условий соглашения, а также Правил Игры, либо иных условий настоящего Соглашения;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.8</h3>
				<div class="rules_text">
					<p>в любое время изменять, дополнять, модифицировать Игру, любую из ее частей, включая Клиентскую часть Игры, без какого-либо предварительного уведомления Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>5.1.9</h3>
				<div class="rules_text">
					<p>предпринимать любые не запрещенные законом меры для защиты собственных интеллектуальных прав в отношении Игры;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">6. Ограничение ответственности Проекта:</h3><br>
			</div>
			<div class="rules_block">
				<h3>6.1</h3>
				<div class="rules_text">
					<p>Пользователь использует Ресурсы Проекта, Игру, включая Клиентскую часть Игры (при ее наличии), на собственный страх и риск. Игра и права на ее использование передаются в состоянии «как есть».</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.2</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за возможные противоправные действия Пользователя или третьих лиц.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.3</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за отсутствие у Пользователя доступа в Интернет, за качество услуг провайдеров связи сети Интернет, с которыми у Пользователя заключены соглашения о предоставлении услуг по доступу к сети Интернет.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.4</h3>
				<div class="rules_text">
					<p>Проект не возмещает Пользователю потраченные средства, связанные с Пожертвованиями, в том числе в случае приостановления или прекращения настоящего Соглашения по любым основаниям, если иное прямо не предусмотрено применимым законодательством.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
            
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">6.5 Проект не гарантирует, что:</h3><br>
			</div>
			<div class="rules_block">
				<h3>6.5.1</h3>
				<div class="rules_text">
					<p>Игра будет удовлетворять субъективным требованиям и ожиданиям Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.5.2</h3>
				<div class="rules_text">
					<p>использование Игры будет протекать непрерывно, быстро, без технических сбоев, надежно и без ошибок;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.5.3</h3>
				<div class="rules_text">
					<p>результаты, которые могут быть получены при использовании Игры, будут безошибочными;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.5.4</h3>
				<div class="rules_text">
					<p>Игра как программа для ЭВМ будет соответствовать ожиданиям Пользователя;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.5.5</h3>
				<div class="rules_text">
					<p>Игра будет доступна и может использоваться круглосуточно, в какой-то конкретный момент времени или в течение какого-либо периода времени;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">6.6 Проект не несет ответственности за возникновение прямого или косвенного ущерба Пользователю либо иных третьих лиц, причиненного в результате:</h3><br>
			</div>
			<div class="rules_block">
				<h3>6.6.1</h3>
				<div class="rules_text">
					<p>использования либо невозможности использования Ресурсов Проекта;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.6.2</h3>
				<div class="rules_text">
					<p>несанкционированного доступа любых третьих лиц к личной информации Пользователя, включая учетную запись Пользователя, лицевой счет Пользователя в Личном кабинете на Сайте Проекта;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.6.3</h3>
				<div class="rules_text">
					<p>заявления или поведения любого третьего лица на Ресурсах Проекта.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.7</h3>
				<div class="rules_text">
					<p>Проект не обязан предоставлять Пользователю какие-либо доказательства, документы и прочее, свидетельствующие о нарушении Пользователем условий Соглашения, в результате которого действие настоящего Соглашения было приостановлено или прекращено.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.8</h3>
				<div class="rules_text">
					<p>Пользователь понимает, принимает и соглашается, что Игра может предусматривать различные звуковые и/или видео эффекты, которые, при определенных обстоятельствах, могут вызывать у лиц, склонных к эпилептическим или иным расстройствам нервного характера, обострение указанных состояний, и Пользователь гарантирует, что указанными расстройствами он не страдает, или же обязуется Игру не использовать.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>6.9</h3>
				<div class="rules_text">
					<p>Пользователь, принимает и соглашается, что регулярное длительное (непрерывное) нахождение у персонального компьютера может вызывать различные осложнения физического состояния, в том числе ослабление зрения, сколиоз, различные формы неврозов и прочие негативные воздействия на организм. Пользователь гарантирует, что он будет использовать Игру исключительно на протяжении разумного времени, с перерывами на отдых или иные мероприятия по профилактике физического состояния, если таковые Пользователю рекомендованы или предписаны.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">7. Обязанности Пользователя:</h3><br>
			</div>
			<div class="rules_block">
				<h3>7.1</h3>
				<div class="rules_text">
					<p>Пользователь обязан:</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.1</h3>
				<div class="rules_text">
					<p>соблюдать условия настоящего Соглашения, включая Правила Игры, без каких-либо ограничений;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.2</h3>
				<div class="rules_text">
					<p>в момент регистрации на Ресурсах Проекта указывать достоверную информацию;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.3</h3>
				<div class="rules_text">
					<p>не превышать пределов использования Игры, установленных в разделе 2 настоящего Соглашения;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.4</h3>
				<div class="rules_text">
					<p>не нарушать иным образом права интеллектуальной собственности Проекта в отношении Игры и/или каких-либо составляющих Ресурсов Проекта, в частности, Пользователь не имеет права копировать, транслировать, рассылать, публиковать, и иным образом распространять и воспроизводить материалы (текстовые, графические, аудио-видео), находящиеся в составе Игровых ресурсов без письменного согласия Проекта;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.5</h3>
				<div class="rules_text">
					<p>самостоятельно предпринимать должные меры, обеспечивающие безопасность его учетных записей в Игре и предотвращающие несанкционированное пользование третьими лицами этими учетными записями;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.6</h3>
				<div class="rules_text">
					<p>выполнять указания Проекта, в частности, данные Проектом Пользователю или группе Пользователей в процессе использования Игры, в центре поддержки пользователей (Пользователей), в новостном разделе Интернет сайта Игры, на форуме Проекта. В случае невыполнения Пользователем таких указаний Проект имеет право приостановить, ограничить, прекратить предоставление Пользователю прав использования Ресурсов Проекта;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.7</h3>
				<div class="rules_text">
					<p>по требованию Проекта в связи с заключением и исполнением настоящего Соглашения подтвердить свои данные, почту, имя, фамилию, возраст, иные данные;</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.1.8</h3>
				<div class="rules_text">
					<p>соблюдать иные требования и выполнять иные обязательства, предусмотренные настоящим Соглашением и Правилами Игры.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.2</h3>
				<div class="rules_text">
					<p>Пользователь гарантирует, что обладает всеми необходимыми полномочиями для заключения настоящего Соглашения. В случае, если Пользователь не достиг возраста совершеннолетия (18 лет) или стал полностью недееспособным в силу наступления иного обстоятельства, предусмотренного действующим законодательством, он обязан самостоятельно получить необходимое разрешение в требуемой законом форме от своих родителей, либо иных законных представителей.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>7.3</h3>
				<div class="rules_text">
					<p>Иные обязательства Пользователя предусмотрены в Правилах Игры, а также в разделе 7 настоящего Соглашения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<hr>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">8. Права использования неактивированных привилегий и команд:</h3><br>
			</div>
			<div class="rules_block">
				<h3>8.1</h3>
				<div class="rules_text">
					<p>Настоящий раздел Соглашения регламентирует порядок и условия предоставления Проекту Пользователя прав использования неактивированных данных и команд.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.2</h3>
				<div class="rules_text">
					<p>По желанию Пользователя Проект предоставляет Пользователю право использования неактивированных данных и команд.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.3</h3>
				<div class="rules_text">
					<p>Право использования неактивированных данных и команд предоставляется Пользователю (за Пожертвования) на условиях простой неисключительной лицензии.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.4</h3>
				<div class="rules_text">
					<p>Пользователь получает права использования неактивированных данных и команд после внесения обусловленного Соглашением Пожертвования, а именно после отражения Проекта внутриигровых ценностей в виде «Золота» на лицевом счете Пользователя в Личном кабинете на Сайте Проекта.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.5</h3>
				<div class="rules_text">
					<p>Право использования неактивированных данных и команд предоставляется Пользователю на срок действия настоящего Соглашения, если такое право не прекращено ранее.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.6</h3>
				<div class="rules_text">
					<p>Размер установленных Пожертвований может быть изменен Проектом в одностороннем порядке в любое время без предварительного уведомления Пользователя. Пользователь осознает, что в ходе использования Игры Проект имеет право отказать Пользователю в использовании прав, включая право использования неактивированных данных и команд, по любым причинам, и это не дает Пользователю основание требовать от Проекта возврата Пожертвования, если иное прямо не предусмотрено применимым законодательством.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.7</h3>
				<div class="rules_text">
					<p>При регистрации Пользователь для осуществления использования Игры Проект автоматически заводит лицевой счет Пользователя, который привязан непосредственно к учетной записи Пользователя.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.8</h3>
				<div class="rules_text">
					<p>Порядок пополнения лицевого счета, а также способы и условия внесения Пожертвований через платежные системы публикуются Проектом на Интернет сайте Проекта: <a href="//arago.games/cabinet" target="_blank">www.arago.games/cabinet</a> . Перечисление денежных средств осуществляется Пользователя через поддерживаемые платежные системы на расчетный счет Проекта. Список доступных для оплаты платежных систем приведен на Интернет сайте Проекта.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.9</h3>
				<div class="rules_text">
					<p>При Пожертвовании Пользователь обязуется следовать платежным инструкциям по порядку и способам оплаты, в том числе и по правилам ввода сообщения и номера коротких текстовых сообщений (SMS), включая порядок ввода заглавных и строчных букв, цифр и языка ввода. Проект не несет ответственности за правильность выполнения Пользователем условий проведения оплаты. По вопросам правил и порядка использования платежных систем для осуществления пополнения лицевого счета Пользователя надлежит обращаться к юридическим лицам — держателям таких платежных систем. Проект не дает Пользователю разъяснений по вопросам, связанным с правилами и порядком использования таких платежных систем, а также не уплачивает Пользователю компенсацию денежных средств, уплаченных в качестве Пожертвования за право использования неактивированных данных и команд посредством платежных систем, если такие платежи были осуществлены с нарушениями правил, установленных платежными системами, в результате чего денежные средства не поступили на счёт Проекта.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.10</h3>
				<div class="rules_text">
					<p>До получения подтверждения об Пожертвовании Проект вправе не предоставлять Пользователю право использования неактивированных данных и команд, либо предоставлять такое право в ограниченном объеме.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.11</h3>
				<div class="rules_text">
					<p>В том случае, если в результате технической ошибки, сбоя работы Игры, Ресурсов Проекта, сознательных действий Пользователя им была получена возможность использования неактивированных данных и команд не в установленном настоящим Соглашением порядке, Пользователь обязуется сообщить об этом факте Проекту и сделать Пожертвование на данную сумму, либо устранить все последствия неправомерного использования неактивированных данных и команд. Проект вправе самостоятельно без уведомления Пользователя устранить такие последствия.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.12</h3>
				<div class="rules_text">
					<p>Пользователь обязан сохранять документы, подтверждающие Пожертвования, в течение всего времени использования Пользователем Игры, и по запросу Проекта предоставить ему такие документы, а также информацию об обстоятельствах совершения такого платежа Пользователем.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.13</h3>
				<div class="rules_text">
					<p>Пользователь обязан самостоятельно отслеживать состояние своего лицевого счета.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.14</h3>
				<div class="rules_text">
					<p>Исключительное право распространения и использования Игры принадлежит Проекту, в связи с чем никакие предложения третьих лиц о предоставлении права использования неактивированных данных и команд не могут быть расценены Пользователю как предложения, исходящие от Проекта.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.15</h3>
				<div class="rules_text">
					<p>В случае возникновения спорных, неясных ситуаций, либо направления Пользователю каких-либо предложений третьих лиц, связанных с Пожертвованием за право использования неактивированных данных и команд, либо размещения таких объявлений и предложений в сети Интернет, за исключением Ресурсов Проекта и размещенных от имени Проекта, Пользователь обязан незамедлительно уведомить об этом Проект.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.16</h3>
				<div class="rules_text">
					<p>В случае, если Пользователь в нарушение настоящего положения, произвел оплату по указанному объявлению с использованием реквизитов, указанных в таком объявлении, претензии Пользователя Проекту по поводу отсутствия у Пользователя права использования неактивированных данных и команд не принимаются, и Проект не компенсирует Пользователю денежные средства, потраченные Пользователем при таких обстоятельствах.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.17</h3>
				<div class="rules_text">
					<p>В случае, если Проектом будет установлено, что Пользователь получает возможность использования неактивированных данных и команд от третьих лиц, Проект вправе по своему усмотрению либо приостановить, либо ограничить действие Соглашения.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.18</h3>
				<div class="rules_text">
					<p>Получение Пользователем права использования неактивированных данных и команд не освобождает Пользователя от соблюдения настоящего Соглашения и Правил Игры, и применения в отношении него любых мер, указанных в настоящем Соглашении или Правилах Игры.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.19</h3>
				<div class="rules_text">
					<p>Пользователь гарантирует Проекту, что он имеет право использовать выбранные им средства для Пожертвования за право использования неактивированных данных и команд, не нарушая при этом законодательства РФ и/или законодательства иной страны, гражданином которой является Пользователь, и прав третьих лиц. Проект не несет ответственности за возможный ущерб третьим лицам и/или другим Пользователям, причиненный в результате использования Пользователем не принадлежащих ему средств оплаты.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.20</h3>
				<div class="rules_text">
					<p>Проект не несет ответственности за возможные противоправные действия Пользователя при Пожертвовании за право использования неактивированных данных и команд. Проект оставляет за собой право в одностороннем порядке отозвать лицензию на Игру и (или) права использования неактивированных данных и команд, если существует подозрение на совершение Пользователем противозаконных действий, вплоть до выяснения обстоятельств.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.21</h3>
				<div class="rules_text">
					<p>В случае если Проект имеет основания полагать, что Пользователь совершает противозаконные действия, связанные с Пожертвованиями за право использования неактивированных данных и команд, Проект имеет право передать соответствующую информацию в правоохранительные органы для проведения проверки по данному факту.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="blockquote_text">
				<h3 style="margin-top:20px;">8.22 Особенности уплаты Пользователем Пожертвования за право использования неактивированных данных и команд с помощью банковских карт:</h3><br>
			</div>
			<div class="rules_block">
				<h3>8.22.1</h3>
				<div class="rules_text">
					<p>Операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.22.2</h3>
				<div class="rules_text">
					<p>Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит противоправный характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами являются уголовным преступлением.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.22.3</h3>
				<div class="rules_text">
					<p>Во избежание случаев мошенничества при оплате банковскими картами, платежи, оплаченные банковской картой, могут проверяться Проектом. Пользователь-держатель карты, оформивший такой платеж, обязан по запросу, поступившему от Проекта, предоставить копию необходимых Проекту документов для подтверждения правомерного использования банковской карты. В случае непредставления запрошенных документов Пользователем в течение 14 дней с даты оформления платежа или наличия сомнений в их подлинности, Проект вправе приостановить предоставление Пользователю прав использования Игры до выяснения обстоятельств.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.23</h3>
				<div class="rules_text">
					<p>Пользователь самостоятельно и за свой счет несет все расходы, связанные с перечислением денежных средств Проекту, включая различные сборы и комиссии банков и операторов платежных систем.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div>
			<div class="rules_block">
				<h3>8.24</h3>
				<div class="rules_text">
					<p>Пользователь соглашается, понимает и принимает то обстоятельство, что Игра не является азартной игрой, игрой на деньги, конкурсом, пари. Приобретение услуги на право использования неактивированных данных и команд является реализацией его собственного волеизъявления и желания и не является необходимым или обязательным условием для использования Игры установленными данным Соглашением способами.</p><span></span>
					<div class="rules_punish">
						<b></b>
					</div>
				</div>
			</div><br>
			<br>
			<span style=" float: right;"><span class="masha_index masha_index114" rel="114"></span>Редакция от <b>28 февраля 2018</b> года</span><br>
			<br>
		</div>
	</div>
</div>